.about-banner {
  display: flex;
  min-height: calc(100vh - var(--header-panel-height) - 150px);

  .left-section {
    flex: 1;
    background-color: var(--background-color-gray-300);
    display: flex;
    justify-content: center;
    align-items: center;

    .info-image {
      width: 150px;
      height: auto;
    }
  }

  .right-section {
    flex: 2;
    background-color: var(--background-color-emerald-700);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      text-align: center;
      color: #ffffff;

      .hello-world {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
      }

      h2 {
        margin: 10px 0;
        font-size: 4.5rem;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 991px) {
  .about-banner {
    display: block;
    background-color: var(--background-color-emerald-700);
    min-height: calc(100vh - var(--header-panel-height));

    .left-section {
      background-color: var(--background-color-emerald-700);
      padding: 36px;
      min-height: 45vh;
    }

    .right-section {
      padding: 36px;
    }
  }
}
