.articles {
  background-color: var(--background-color-gray-300);
  padding: var(--base-spacing);
  .page-count {
    text-align: center;
    color: var(--h3-title-color);
  }
  .article {
    margin: calc(var(--base-spacing) * 2) auto;
    max-width: var(--max-width-article);
    .date-column {
      background-color: var(--background-color-emerald-200);
      border: 1px solid var(--border-color-gray-500);
      border-bottom: none;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      display: inline-block;
      padding: 8px 12px;
      margin-left: 12px;
      font-size: calc(var(--base-font-size) * 0.9);
    }
    .details-column {
      background-color: white;
      border: 1px solid var(--border-color-gray-500);
      border-radius: var(--border-radius);
      padding: var(--base-spacing);
      .title {
        margin-top: calc(var(--base-spacing) * 0.5);
      }
      .summary {
        padding: calc(var(--base-spacing) * 0.5) 0;
      }
      .read-more {
        color: var(--text-color-emerald-700);
        font-weight: 700;
        font-size: calc(var(--base-font-size) * 0.9);
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 550px) {
  .articles {
    .article {
      margin: calc(var(--base-spacing) * 2) calc(var(--base-spacing) * 0.2);
    }
  }
}
