.articles {
  background-color: var(--background-color-gray-300);
  padding: 1rem;
  .page-count {
    text-align: center;
    color: var(--h3-title-color);
  }
  .article {
    margin: 2rem auto;
    max-width: 700px;
    .date-column {
      background-color: var(--background-color-emerald-200);
      border: 1px solid var(--border-color-gray-500);
      border-bottom: none;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      display: inline-block;
      padding: 8px 12px;
      margin-left: 12px;
    }
    .details-column {
      background-color: white;
      border: 1px solid var(--border-color-gray-500);
      border-radius: var(--border-radius);
      padding: 1rem;
      .description {
        padding: 0.5rem 0;
      }
      .read-more {
        color: var(--text-color-emerald-700);
        font-weight: 700;
        font-size: 1.1rem;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 550px) {
  .articles {
    .section-title {
      text-align: center;
    }
    .article {
      margin: 2rem 0.2rem;
    }
  }
}
