.big-block {
  margin: 0 calc(var(--base-spacing) * 2) calc(var(--base-spacing) * 2);
  .container {
    background: var(--background-color-amber-100);
    border-radius: var(--border-radius);
    padding: calc(var(--base-spacing) * 3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .title {
      color: var(--text-color-amber-800);
      text-align: center;
    }
    .sub-title {
      margin: calc(var(--base-spacing) * 1.5);
      font-weight: 100;
    }
    .view-all {
      padding: var(--base-spacing);
      background: var(--background-color-amber-600);
      border-radius: var(--border-radius);
      color: white;
      text-align: center;
      width: 120px;
    }
  }
}

@media (max-width: 550px) {
  .big-block .container .view-all {
    font-size: calc(var(--base-font-size) * 0.8);
    padding: 0.5rem;
    width: 100px;
  }
}
