.big-block {
  padding: 2rem 2rem 4rem;
  .container {
    background: var(--background-color-amber-100);
    border-radius: var(--border-radius);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .title {
      color: var(--text-color-amber-800);
      font-size: 2rem;
      text-align: center;
    }
    .sub-title {
      margin: 1.5rem;
      font-weight: 100;
      font-size: 1.2rem;
    }
    .view-all {
      padding: 1rem;
      background: var(--background-color-amber-600);
      border-radius: var(--border-radius);
      color: white;
      text-align: center;
      width: 120px;
    }
  }
}
