.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--background-color-emerald-200);
  border: 2px solid #406b5b;
  text-decoration: none;
  color: var(--card-title-color);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color-emerald-100);
  }

  .title {
    font-weight: 700;
    margin-bottom: 8px;
  }

  .description {
    margin: 0;
  }

  .published {
    margin-top: 0.2rem;
  }
}
