.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #333;

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      width: 44px;
      height: auto;
      margin-right: 10px;
    }

    .title {
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0;
    }
  }

  .links {
    .link {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  @media (max-width: 700px) {
    .logo-container {
      .title {
        display: none;
      }
    }

    .options {
      ul {
        li {
          font-size: 1rem;
        }
      }
    }
  }

  @media (min-width: 701px) {
    .logo-container {
      .title {
        display: block;
      }
    }
  }
}
