.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: var(--base-spacing);
  background-color: var(--background-color-gray-500);

  .button {
    border: 2px solid var(--border-color-gray-500);
    border-radius: var(--border-radius);
    background-color: white;
    padding: calc(var(--base-spacing) * 0.75);
    text-align: center;
    width: 120px;
    font-size: calc(var(--base-font-size) * 0.9);

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: var(--background-color-emerald-400);
      color: #fff;
    }
  }

  .upcoming {
    background-color: var(--background-color-emerald-500);
    color: #fff;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
    color: #0c0c0c;
  }
}
