.rendered-article {
  background-color: var(--background-color-gray-300);
  min-height: var(--content-panel-min-height);
  padding: var(--base-spacing);

  @media (max-width: 550px) {
    & {
      padding: 0;
      padding-bottom: calc(var(--base-spacing) * 2);
      padding-top: 1px;
    }
  }

  @media (min-width: 768px) {
    & {
      .section-title {
        max-width: var(--max-width-article);
        text-align: left;
      }
    }
  }
}
