@use "../styles/mixins";

.tags {
  border: 4px solid var(--border-color-emerald-400);
  border-radius: var(--border-radius);
  margin: calc(var(--base-spacing) * 3) calc(var(--base-spacing) * 2);

  .section {
    @include mixins.set-card-sizes();

    display: grid;
    justify-content: center;
    gap: 2rem;
    margin: 0 calc(var(--base-spacing) * 2) calc(var(--base-spacing) * 2);
  }

  .tag {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid var(--border-color-emerald-400);
    cursor: pointer;
    font-size: 1rem;
    padding-bottom: 0.5rem;

    .count {
      color: #919191;
      padding: 5px;
      font-size: 0.9rem;
      background: rgb(236 253 245);
    }
  }
}
